@import '~@angular/material/theming';
@include mat-core();

$gamehub-primary: mat-palette($mat-blue-grey, 800, 600, 900);
$gamehub-accent:  mat-palette($mat-red, A200, A100, A400);

$gamehub-theme: mat-light-theme($gamehub-primary, $gamehub-accent);
@include angular-material-theme($gamehub-theme);