@import '~@angular/material/theming';
@include mat-core();

$mwng-primary: mat-palette($mat-red);
$mwng-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$mwng-theme: mat-light-theme($mwng-primary, $mwng-accent);
@include angular-material-theme($mwng-theme);