body {
    margin: 0 0 0 0;
}

.full-input {
    width: 100%;
}

.half-input {
    width: 49%;
}

.mat-dialog-title > .mat-toolbar {
    margin: -24px 0 24px -24px !important;
    width: calc(100% + 48px);
}

/* REMOVE THIS SOMEDAY IF YOU DON'T END UP USING MENUS */
.mat-menu-item > .material-icons {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
    vertical-align: middle;
}