.credential-card {
    max-width: 350px;
    margin: 100px auto 0 auto;
}

.full-width {
    width: 100%;
}

.mat-menu-item > .material-icons {
    bottom: 2px;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
}