html
    head
        title="MWNG: Login"
        link(href="/css/mwng.css", rel="stylesheet")
    body
        input(placeholder="Email", type="email")
        input(placeholder="Password", type="password")