<button class="create-event-button" (click)="openNewEventDialog()" md-fab mdTooltip="Create event" mdTooltipPosition="before">
    <i class="material-icons">add</i>
</button>
<md-card class="event-card" *ngFor="let event of events">
    <md-card-title>
        {{event.game.name}}
    </md-card-title>
    <md-card-content>
        <p><strong>Location:</strong> {{event.location}}</p>
        <p><strong>Starts at:</strong> {{event.time | date:"shortTime"}}</p>
        <p><strong>Players:</strong> {{event.game.minPlayers}} - {{event.game.maxPlayers}}</p>
    </md-card-content>
    <md-card-actions align="right">
        <button color="accent" md-button>JOIN</button>
    </md-card-actions>
</md-card>