<div matDialogTitle>
    <mat-toolbar color="primary">Create event</mat-toolbar>
</div>
<form #eventForm="ngForm" (ngSubmit)="createEvent()">
    <div matDialogContent>
        <mat-form-field class="full-input">
            <input matInput name="gameName" [(ngModel)]="newEvent.game.name" placeholder="Game" required>
        </mat-form-field>
        <mat-form-field class="half-input">
            <input matInput max="{{newEvent.game.maxPlayers}}" min="1" name="minPlayers" [(ngModel)]="newEvent.game.minPlayers" placeholder="Min. # of players"
                required type="number">
        </mat-form-field>
        <mat-form-field class="half-input">
            <input matInput min="{{newEvent.game.minPlayers}}" name="maxPlayers" [(ngModel)]="newEvent.game.maxPlayers" placeholder="Max. # of players"
                required type="number">
        </mat-form-field>
        <mat-form-field class="half-input">
            <input matInput name="location" [(ngModel)]="newEvent.location" placeholder="Location" required>
        </mat-form-field>
        <mat-form-field class="half-input">
            <input matInput name="time" [(ngModel)]="time" placeholder="time" required type="time">
        </mat-form-field>
    </div>
    <div matDialogActions align="end">
        <button color="primary" mat-button matDialogClose>CANCEL</button>
        <button color="accent" [disabled]="eventForm.form.invalid" mat-button type="submit">CREATE EVENT</button>
    </div>
</form>