<div mdDialogTitle>
    <md-toolbar color="primary">Create event</md-toolbar>
</div>
<div mdDialogContent>
    <md-form-field class="full-input">
        <input mdInput name="gameName" [(ngModel)]="newEvent.game.name" placeholder="Game">
    </md-form-field>
    <md-form-field class="half-input">
        <input mdInput name="minPlayers" [(ngModel)]="newEvent.game.minPlayers" placeholder="Min. # of players" type="number">
    </md-form-field>
    <md-form-field class="half-input">
        <input mdInput name="maxPlayers" [(ngModel)]="newEvent.game.maxPlayers" placeholder="Max. # of players" type="number">
    </md-form-field>
    <md-form-field class="half-input">
        <input mdInput name="location" [(ngModel)]="newEvent.location" placeholder="Location">
    </md-form-field>
    <md-form-field class="half-input">
        <input mdInput name="time" [(ngModel)]="newEvent.time" placeholder="time" type="datetime-local">
    </md-form-field>
</div>
<div mdDialogActions align="end">
    <button color="primary" md-button mdDialogClose>CANCEL</button>
    <button (click)="doIt()" color="accent" md-button>DO IT!</button>
</div>