<form #loginForm="ngForm">
    <md-card class="credential-card">
        <md-card-content>
            <md-form-field class="full-width">
                <input mdInput name="email" [(ngModel)]="email" placeholder="Email" required type="email">
            </md-form-field>
            <md-form-field class="full-width">
                <input mdInput name="password" [(ngModel)]="password" placeholder="Password" required type="password">
            </md-form-field>
        </md-card-content>
        <md-card-actions align="right">
            <button md-button [mdMenuTriggerFor]="menu">Umm...</button>
            <md-menu #menu="mdMenu">
                <button md-menu-item>
                    <md-icon class="material-icons">
                        sentiment_dissatisfied
                    </md-icon>
                    I forgot something
                </button>
                <button md-menu-item>
                    <md-icon class="material-icons">
                        person_add
                    </md-icon>
                    I'm new here
                </button>
            </md-menu>
            <button (click)="logIn()" [disabled]="loginForm.form.invalid" md-raised-button color="primary">
                Log in
            </button>
        </md-card-actions>
    </md-card>
</form>